/* ======= TITULUAK ======= */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #202020;
}

h4 {
    font-weight: bold;

}
/* ======= TITULUAK AMAIERA ======= */


/* ======= BODY ======= */
body {
    background-color: #202020;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    text-align: justify;
}
/* ======= BODY AMAIERA ======= */


/*=============== GRID PAGINA PRINCIPAL ===============*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 100%; 
    margin-left: 1%;
}

#sarrera {
    grid-column: 1 / 4;
    grid-row: 1;
}

#azkenberria {
    grid-column: 4;
    grid-row: 1 / 3;
}

#partehartzaileak {
    grid-column: 1 / 4;
    grid-row: 2;
}

#sailkapena {
    grid-column: 1 / 4;
    grid-row: 3;
}

#gamingespazioa {
    grid-column: 4;
    grid-row: 3;
}
/*=============== GRID AMAIERA ===============*/


/*=============== KUTXAK ===============*/
.guztia{
    /*display: grid;*/
    color: white;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
    /*width: 1300px;*/
    box-shadow: 0px 4px 8px rgba(0
    
    
    , 0, 0, 0.3);
  /*  margin-bottom: 10px;*/
}

.arrunta {
    justify-content: left;
    /*margin-right: 30%;*/
    /*display: grid;*/
    color: black;
    background-color: #dadada;
    padding: 10px;
    border-radius: 10px;
    /*width: 98%;*/
    text-align: justify;
    margin-bottom: 10px;
}
/*=============== KUTXAK AMAIERA ===============*/


/*=============== HEADER ETA LOGOA ===============*/
.logo {
    height: 35%;
    width: 35%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    align-items: center;
    padding: 20px;
    background-color: #dadada;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*=============== HEADER ETA LOGOA AMAIERA ===============*/


/*=============== HEADER MENUA ===============*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}
/*=============== HEADER MENUA AMAIERA ===============*/


/*=============== SLIDER ===============*/
.slider {
    width: auto;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 10s infinite alternate ease-in;

}

.slider li {
    margin-left: 150px;
    margin-right: 150px;
    width: 1087px;
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.slider img {
    border-radius: 10%;
}

@keyframes cambio {
    0% {
        margin-left: 0%
    }

    33% {
        margin-left: 0%
    }

    36% {
        margin-left: -100%
    }

    66% {
        margin-left: -100%
    }

    69% {
        margin-left: -200%
    }

    100% {
        margin-left: -200%
    }
}
/*=============== SLIDER AMAIERA ===============*/


/*=============== EGUTEGIA ===============*/
.EgutegiTitle {
    margin-left: 20px;
}

.egutegia {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    justify-self: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.egutegia th,
.egutegia td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.egutegia th {
    color: #fff;
    font-size: 1.2em;
}

.egutegia tr:nth-child(even) {
    background-color: #f2f2f2;
}

.egutegia td {
    color: #555;
}

.egutegia td.ekitaldi-garrantzitsua {
    font-weight: bold;
    background-color: #CD5C5C;
    color: #fff;
}

.fondo-gris {
    background-color: #333 !important;
}

.fondo-gris td {
    color: #d3d3d3;
}
/*=============== EGUTEGIA AMAIERA ===============*/


/*=============== COOKIES ===============*/
#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

#cookieConsent p {
    display: inline;
    margin: 0;
}

#cookieConsent button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width: 120px;
    height: 50px;
}
/*=============== COOKIES AMAIERA ===============*/


/*=============== FOOTER ===============*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #dadada;
    font-style: oblique;
    font-weight: bold;
    color: #202020;
    position: relative;
    bottom: auto;
}
/*=============== FOOTER AMAIERA ===============*/


/*=============== INDEX PH  ===============*/
.pj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pj img {
    max-width: 300px;
    height: auto;
    padding: 50px;
    border-radius: 90px;
    background-color: #2e2e2e;
    background: fixed;
}
/*=============== INDEX PH AMAIERA ===============*/


/*=============== INDEX PH ARGAZKIAK ETA TESTUA ===============*/
.foto {

    display: flex;
    width: 10%;
    margin-right: 10%;
    align-items: center;
    flex-wrap: wrap;

}

.foto:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}

.foto {
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.texto {
    margin-top: 10px;
    text-align: center;
    color:white;
    font-weight: bold;
    margin: 0;
    padding: 10px;   
}
.texto :hover{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 1270px;
}
/*=============== INDEX PH ARGAZKIAK ETA TESTUA AMAIERA ===============*/


/*=============== PARTEHARTZAILE PERTSONALAK ===============*/
.descr {
    margin-left: 20px;
    text-align: center;
}

.personal img {
    width: 10%;
    border-radius: 10px;
}

.deskribapena {
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.gear-items img {
    display: flex;
    width: 35%;
    height: 15%;
    flex-wrap: wrap;
    margin-left: 30%;
    border-radius: 10%;

}

.gear-section {
    margin: 20px;
}

.gear-items {
    text-align: center;

}

.buttonForm:hover {
    background-color: #CD5C5C;
    color: white;
}
/*=============== PARTEHARTZAILE PERTSONALAK ===============*/


/*=============== GAMING ESPAZIO ORRIA ===============*/
hr{
    border: none;
    border-top: 1px solid white;
    margin: 10px 0;
    

}

.mapastream{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.mapa {
    display: grid;
    border-radius: 15px;
    max-width: 600px;
    background-color: #555;
    padding: 10px;
    width: 50%; 
    margin-left: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.stream {
    color: white;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
    width: 60%; 
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.stream p{
    display: grid;
    color: black;
    background-color: #dadada;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
    margin-left: 2%;
}

.arauak{
    display: grid;
    color: white;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
    width: 1050px;
    margin-top: 5%;
    float: left;
    margin: 2%;
    margin-bottom: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.arauak p{
    display: grid;
    color: black;
    background-color: #dadada;
    padding: 10px;
    border-radius: 10px;
    width: 1000px;
}

.twitch {
    max-width: 35%;
    max-height: 20%;
    background-color: #555;
    padding: 10px;
    border-radius: 15px;
    margin-right: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    float: right;
    margin-top: 5%;
}
/*=============== GAMING ESPAZIO ORRIA AMAIERA ===============*/


/*=============== AZKEN BERRIAK ===============*/
.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5em;
}

.news-items {
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
/*=============== AZKEN BERRIAK AMAIERA ===============*/


/*=============== SAILKAPENA ===============*/
.tournament-grid {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    margin-top: 150px;
}

.round-1 {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}

.round-2 {
    position: absolute;
    top: 150px;
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.round-3 {
    position: absolute;
    top: 150px;
    right: 200px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.round-4 {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.finalista-A {
    position: absolute;
    top: 250px;
    left: 430px;
}

.finalista-B {
    position: absolute;
    top: 250px;
    right: 430px;
}

.final {
    position: absolute;
    top: 350px;
    left: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.match {
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
/*=============== SAILKAPENA ===============*/


/*=============== KONTAKTU FORMULARIOA ===============*/
.formularioa{  
    width: 455px; 
    height: auto;
    margin: auto;
    border: 2px solid #fafafa10;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    padding-left: 30px; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.efecto_blur{
    background: #fafafa10;
    backdrop-filter: blur(1.7rem);
}  
  
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #fafafa10; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
} 
  
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #fafafa10; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px;
    resize: none;
}
    
label{
    display: block; 
}
  
button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #dadada; 
    border-color: #fafafa10; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}
   
button p{
    color: #000000; 
}

button:active {
    background-color: #97d848; 
    border-color: #97d848;
}
  
button p:active{
    color: #222222; 
}
  
span{
    color: #d40000; 
}
   
.oharra{
    font-size: 13px;  
    color: #0e0e0e;  
}
   
.azalpena {
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}
  
.azalpena p {
    color: #fafafa;
}
  
.celdas p{
    font-size: 14px; 
    color: #ffffff; 
}
   
::-webkit-input-placeholder {
   color: #a8a8a8;
}
   
::-webkit-textarea-placeholder {
   color: #a8a8a8;
}
 
.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}
    
.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}
/*=============== KONTAKTU FORMULARIOA AMAIERA ===============*/


/*=============== GEHIAGO IKUSI BOTOIA ===============*/
.botonprincipal {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 150px;
    border-radius: 10px;
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%
}

.botonprincipal:hover {
    background-color: #CD5C5C;
    color: white;
}
/*=============== GEHIAGO IKUSI BOTOIA AMAIERA ===============*/









